<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Caja de Pandora</title>
</head>
<body>
    <h1>La Caja de Pandora</h1>
    <ul>
        <li>Django es un framework de Python, que nos permite crear aplicaciones web.</li><li>Python es un lenguaje de programación de alto nivel, que nos permite crear aplicaciones web.</li>
        <li>django se basa en el patrón MVC, que nos permite crear aplicaciones web.</li>
    </ul>
    <footer>Hecho en Coder año {{ año }}</footer>
</body>
</html>